<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flores' Chapter 25 Homework</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <a href="/">Link to Start Page</a>
    
  <h2>Flores' Sample Form</h2>
<form>
    <p>
        <label for="name">Name</label>:
        <input type="text" name="name" id="name" required><br><br>
        <label for="email">Email</label>:
        <input type="text" email="email" id="email" required>
    </p>
    <p>
      <h2>Payment Type:</h2>
        <input type="radio" name="payment" id="cash" value="cash" checked>
        <label for="cash">Cash</label>
        <br>
        <input type="radio" name="payment" id="credit cared" value="creditC">
        <label for="credit card">Credit Card</label>
        <br>
        <input type="radio" name="payment" id="Google Pay" value="google">
        <label for="google">Google Pay</label>
        <br>
        <input type="radio" name="payment" id="Apple Pay" value="apple">
        <label for="apple">Apple Pay</label>
        <br>
    </p>
    <p>
      <input type="checkbox" id="signup" name="signup" value="yes">
      <label for="signup">Sign me up for special promotions</label>
    </p>
    <p>
      <label for="location">Preferred Location:</label>
      <select name="location" id="location">
        <option value="LA">Los Angeles</option>
        <option value="OC">Orange County</option>
        <option value="Riverside">Riverside</option>
        <option value="SD">San Diego</option>
  </select>
    </p>
   
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel">
</form>
<p id="result"></p>
<script src="../public/ex1.js"></script>
</body>
</html>